# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************

name: Documentation

permissions:
  contents: write
  pages: write
  pull-requests: write
  id-token: write

on:
  pull_request_target:
    types: [opened, reopened, synchronize] # Allows forks to trigger the docs build
  push:
    branches:
      - main
  merge_group:
    types: [checks_requested]

jobs:
  run-trudag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.2'

      - name: Install trudag and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz
          pip install trustable --index-url https://gitlab.com/api/v4/projects/66600816/packages/pypi/simple

      - name: Generate trudag report
        run: |
          TRUDAG_REPORT_FOLDER="docs/s-core/docs-as-code/generated"
          mkdir -p "$TRUDAG_REPORT_FOLDER"
          trudag publish --validate --output-dir "$TRUDAG_REPORT_FOLDER"
          trudag plot -o "$TRUDAG_REPORT_FOLDER/graph.svg"
          python scripts/clean_trudag_output.py

      - name: Upload trudag artifact
        uses: actions/upload-artifact@v4
        with:
          name: trudag-report-${{ github.event.pull_request.head.sha || github.sha }}
          path: docs/s-core/docs-as-code/generated/
          if-no-files-found: error
          
  build-docs:
    needs: run-trudag
    # the eclipse-score/cicd-workflow docs.yml is adjusted to download the trudag report artifact before building the documentation
    uses: ./.github/workflows/docs.yml
    permissions:
      contents: write
      pages: write
      pull-requests: write
      id-token: write

    with:
      # the bazel-target depends on your repo specific docs_targets configuration (e.g. "suffix")Add commentMore actions
      bazel-target: "//:docs -- --github_user=${{ github.repository_owner }} --github_repo=${{ github.event.repository.name }} --notreat_warnings_as_errors"
      retention-days: 3
